body{
	background-image: url("http://wallpapercave.com/wp/0vt7cA4.jpg");
	background-size: cover;
}
.container{
	padding-bottom: 50px;
	width: 95%;
	margin: 1% auto;
}

.timeline{
	margin-top: 90px;
}
#alert{
	font-size: 30px;
	font-weight: bold;
	margin: 220px 150px 200px 100px;
	color: #4747d1;
}
#header{
	height: 50px;
	background-color: lightgrey;
	opacity: .4; 
	border: solid grey 1px;
	margin: 15px 10px 10px 13px;
	font-family: Courier, serif;
	font-weight: bold;
	font-size: 35px;
	padding: 10px 25px 5px 35px;
	width: 95%;
}
header i {
	font-size: 13px;
	color: #4747d1;
	opacity: 1;
}
.horizontal{
	float: right;
	position: fixed;
	width: 88%;
	height: 50px;
	background-color: #99ccff;
	opacity: .7;
	z-index: 4;
	margin-right: 25px;
	/*top:*/
	/*left:;*/
	//*add a media query*//
}

.horizontal li{
	display: inline-block;
	padding: 1% 2% 1% 2%;
	//*add a media query*//
}
.horizontalfooter{
	width: 97%;
	height: 50px;
	background-color: #99ccff;
	opacity: .7;
	z-index: 4;
  	bottom: 4;
  	float: right;

}

.horizontalfooter li{
	display: inline-block;
	padding: 1% 2% 1% 2%;
}

a.back-to-top {
	width: 70px;
	height: 60px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #99ccff;
	border-radius: 30px;
	padding: 20px;
	opacity: .8;
	color: white;
	border: solid white;
}

#rowtop{
	float: left;
	width: 79%;
	height: 15%;
	margin: 0px 10px 10px 0px;
	padding: 10px;
}

#present{
	padding-left: 13%;
}
#row2{
	float: left;
	width: 79%;
	height: 15%;
	margin: 5px 10px 20px 0px;
	padding: 10px;
}

#row3{
	float: left;
	width: 79%;
	height: 15%;
	margin: 5px 10px 20px 0px;
	padding: 10px;
}

#row4{
	float: left;
	width: 79%;
	height: 15%;
	margin: 5px 10px 20px 0px;
	padding: 10px;
}
#row5{
	float: left;
	width: 79%;
	height: 15%;
	margin: 5px 10px 20px 0px;
	padding: 10px;
}
#row6{
	float: left;
	width: 79%;
	height: 15%;
	margin: 5px 10px 20px 0px;
	padding: 10px;
}
#row7{
	float: left;
	width: 79%;
	height: 15%;
	margin: 5px 10px 20px 0px;
	padding: 10px;
}
#row8{
	float: left;
	width: 79%;
	height: 15%;
	margin: 5px 10px 20px 0px;
	padding: 10px;
}
#row9{
	float: left;
	width: 79%;
	height: 15%;
	margin: 5px 10px 20px 0px;
	padding: 10px;
}
#row10{
	float: left;
	width: 79%;
	height: 15%;
	margin: 5px 10px 20px 0px;
	padding: 10px;
}

p {
	display: inline-block;
	padding: 0px 35px 3px 45px;
	font-size: 15px;
	height: 15%;
}

table{
	font-size: 13px;
}
table td{
	display: block;
	padding: 3px 15px 3px 15px;
	font-size: 13px;
}
   
table tr {
	display: inline-block;
}
h2{
	margin: 14px;
}

.vertical{
	float: left;
	width: 15%;
	border: solid white 1px;
	margin-top: 77px;
	height: 100%
}

.vertical li {
	padding: 25px;
	margin: 35px 15px 35px 15px;
	font-size: 18px;
	font-weight: bold;
	color: #99ccff;
}

aside{
	margin: 14px;
	border: solid white 3px;
	color: white;
}

footer{
	clear: both;
	height: 40px;
	background-color: lightgrey;
	border: white solid 1px;
	margin: 10px 11px 0px 11px;
	padding: 10px;
	text-align: center;
	font-size: 11px;
	opacity: .6;
}

/*MEDIA QUERIES*/
@media  (max-width: 901px) {
    body {
        background-image: none;
    }
    #header{
    	background-color:white;
    	border: none;
    	color: white;
    }
    .horizontal{
    	background-color: white;
    }
    .vertical a {
		color: white;
    }
    #header i {
    	color: white;
    }
    a.back-to-top {
		color: white;
		background-color: white;
    }
}
